@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype'),
        url('Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.eot');
    src: url('Roboto-Black.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Black.woff') format('woff'),
        url('Roboto-Black.ttf') format('truetype'),
        url('Roboto-Black.svg#Roboto-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.eot');
    src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Light.woff') format('woff'),
        url('Roboto-Light.ttf') format('truetype'),
        url('Roboto-Light.svg#Roboto-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.eot');
    src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype'),
        url('Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Medium.eot');
    src: url('Geometria-Medium.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Medium.woff') format('woff'),
        url('Geometria-Medium.ttf') format('truetype'),
        url('Geometria-Medium.svg#Geometria-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Heavy.eot');
    src: url('Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Heavy.woff') format('woff'),
        url('Geometria-Heavy.ttf') format('truetype'),
        url('Geometria-Heavy.svg#Geometria-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Bold.eot');
    src: url('Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Bold.woff') format('woff'),
        url('Geometria-Bold.ttf') format('truetype'),
        url('Geometria-Bold.svg#Geometria-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraBold.eot');
    src: url('Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Geometria-ExtraBold.woff') format('woff'),
        url('Geometria-ExtraBold.ttf') format('truetype'),
        url('Geometria-ExtraBold.svg#Geometria-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('Geometria.eot');
    src: url('Geometria.eot?#iefix') format('embedded-opentype'),
    url('Geometria.woff') format('woff'),
    url('Geometria.ttf') format('truetype'),
    url('Geometria.svg#Geometria') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Gotham Pro';
    src: url('GothamPro-Bold.eot');
    src: url('GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('GothamPro-Bold.woff') format('woff'),
    url('GothamPro-Bold.ttf') format('truetype'),
    url('GothamPro-Bold.svg#GothamPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
